<div class="comment" id="comment_<%= comment.id %>">
  <div class="columns">
    <% if current_user %>
      <%= image_tag(comment.user.image_url_or_default, size: "32x32", style: "margin-right: 10px") %>

      <div class="comment-body">
        <%= link_to "#{comment.user.name} ", profile_user_path(comment.user), style: "font-weight: bold; white-space: pre;" %>
        <%= comment.body %>

        <div class="replies hidden">
          <% comment.children.each do |reply| %>
            <%= render 'comments/replies', {comment: reply} %>
          <% end %>
        </div>

        <div class="comment-likes">
          <%= link_to comment.children.count >= 1 ? comment.children.count.to_s + " Replies" : "Reply" , "/", style: "font-size: .7em", id: "js-reply-comment-" + comment.id.to_s %>
          <%= form_tag toggle_like_path, method: :post, remote: true do %>
            <%= hidden_field_tag :comment_id, comment.id %>
              <div class="field">
                <div class="control">
                  <button class="js-like-button-<%= comment.id %> button is-white <%= 'is-liked' if current_user.liking?(comment) %>"
                    style="font-size: .7em">
                    <%= render partial: "comments/like_button", locals: {comment: comment, user: current_user} %>
                  </button>
                </div>
              </div>
          <% end %>
          <p style="font-size: .7em">
            <%= time_ago_in_words(comment.created_at) %> ago
          </p>
        </div>
        <%= render 'comments/reply_comment', comment: comment %>
      </div>

      <% if current_user.comments.include?(comment) %>
        <%= form_tag comment_path(comment), class: "form-delete-comment", method: :delete, remote: true do %>
        <%= image_submit_tag("X.png", class: "comment-destroy") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
