<div class="column is-3" style="margin-top: -100px">
  <aside class="menu">
    <div class="field">
      <div class="control">
        <%= image_tag @user.image_url_or_default, size: "250x250", style: "border: 3px solid white; border-radius: 3px" %>
      </div>
    </div>
    <nav class="panel">
      <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-info"></i>
          </span>
          <%= @user.quote if @user.quote %>
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-briefcase"></i>
          </span>
          <%= @user.position if @user.position %>
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-book"></i>
          </span>
          <%= @user.school if @user.position %>
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fa fa-map-o"></i>
          </span>
          <%= @user.city + ", " + @user.state if @user.city && @user.state %>
        </a>
    </nav>
  </aside>
  <%= form_for(@user) do |f| %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
  <%= f.submit "Upload" %>
  <% end %>
<% @user.photos.each do |photo| %>
  <%= image_tag(photo.url, size: "500x500") %>
<% end %>

</div>
