<div class="content">
  <% unless current_user %>
    <h2>Please Sign In</h2>
    <%= link_to "Create An Account", new_user_path, class: "button is-primary" %>
    <%= link_to icon("facebook", "Log in with Facebook"), "/auth/facebook", class: "button is-info" %>
  <% end %>
</div>
<div class="column is-10">
  <div class="field">
    <label class="label">What's on your mind?</label>
    <div class="control has-icons-left">
      <%= form_for current_user.posts.build do |f| %>
        <%= f.hidden_field :wall_id, value: current_user.id %>
        <%= f.text_field :body, class: "input", placeholder: "I'm feeling..." %>
        <span class="icon is-small is-left">
          <i class="fa fa-pencil-square-o"></i>
        </span>
      <% end  %>
    </div>
  </div>
  <% if params[:search] %>
    <%= render 'search' %>
  <% else %>
    <div id="my-posts">
      <%= render @posts %>
    </div>
    <div id="infinite-scrolling">
      <%= paginate @posts %>
    </div>
  <% end %>
</div>
