<div class="post" id="<%= dom_id post %>">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left js-avatar">
          <figure class="image is-48x48">
            <%= link_to image_tag(post.user.image_url_or_default), profile_user_path(post.user), style: "float: left" %>
          </figure>
        </div>

        <div class="media-content">
          <p class="title is-4"><%= link_to "#{post.user.titleize_name}: ", profile_user_path(post.user) %></p>
          <p class="subtitle is-6" style="font-size: .8em"><%= time_ago_in_words(post.created_at) %> ago</p>
        </div>

        <% if post.belongs_to?(current_user) %>
          <%= form_for post, url: post_path(post), html: {method: "delete"}, remote: true do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.submit "Delete" %>
          <% end %>
        <% end %>
      </div>

      <div class="content" style="padding-bottom: 15px;">
        <% if post.photo.url %>
          <%= link_to(post.photo.url, "data-lightbox" => "test")  do  %>
            <%= image_tag post.photo.url %>
          <% end %>

        <% end %>
        <%= post.body %>
      </div>
    </div>

    <div class="card-footer" id="actions">
      <div class="level">
        <div class="level-left">
          <div id="js-likes-<%= post.id %>">
            <%= render partial: "posts/like_button", locals: {post: post, user: current_user} %>
          </div>
          <%= link_to fa_icon("comment", text: " #{post.comments_count}"), "", class: "level-item button js-comment-button is-white comment-button-#{post.id}"  %>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <% if post.has_likes %>
        <div class="card-footer-item" style="font-size: .7em">
          <%= post.likes_partial.html_safe %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card is-multiline <%= post.has_no_comments? %>">
    <div class="card-content js-comments-<%= post.id %>">
      <%= render post.comments.select {|c| c.parent == nil}.sort{|a, b| a <=> b} %>
    </div>
  </div>

  <%= render "comments/comment_form", post: post %>
</div>
