<div class="card" style="margin-bottom: 15px">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag(current_user.image_url_or_default) %>
        </figure>
      </div>
      <div class="content" style="width: 100%">
        <div class="field has-addons" style="align-items: center; padding-bottom: 10px">
          <div class="control has-icons-left is-expanded">
            <%= form_for current_user.posts.build do |f| %>
              <%= f.hidden_field :wall_id, value: params[:id] %>
                  <%= f.text_field :body, class: "input", placeholder: "I'm feeling..." %>
                  <%= f.file_field :photo %>
                <span class="icon is-small is-left">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
