
<div class="post">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left js-avatar">
          <figure class="image is-48x48">
            <%= link_to image_tag(post.user.image_url_or_default), profile_user_path(post.user), style: "float: left" %>
          </figure>
        </div>

        <div class="media-content">
          <p class="title is-4"><%= link_to "#{post.user.titleize_name}: ", profile_user_path(post.user) %></p>
          <p class="subtitle is-6"><%= time_ago_in_words(post.created_at) %> ago</p>
        </div>
      </div>

      <div class="content" style="padding-bottom: 15px;">
        <%= post.id %>
        <%= post.body %>
      </div>
    </div>

    <div class="card-footer" id="actions">
      <div class="level">
        <div class="level-left">
          <div id="js-likes-<%= post.id %>">
            <%= render partial: "posts/like_button", locals: {post: post, user: current_user} %>
          </div>
          <%= link_to fa_icon("comment", text: " #{post.comments_count}"), "", class: "level-item button js-comment-button is-white comment-button-#{post.id}"  %>
        </div>
      </div>
    </div>
  </div>

  <div class="card is-multiline">
    <div class="card-content js-comments-<%= post.id %>">
      <%= render post.comments %>
    </div>
  </div>

  <div class="card js-post-comment-form hidden">
    <%= form_for post.comments.build, remote: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: post.id %>
      <div class="field">
        <div class="control has-icons-left">
          <%= f.text_field :body, class: "input comment-body", placeholder: "Comment...", autocomplete: "off", required: true %>
          <span class="icon is-small is-left">
            <i class="fa fa-comments"></i>
          </span>
          <% end %>
        </div>
      </div>
  </div>
</div>
