<!DOCTYPE html>
<html>
  <head>
    <title>RailsBook</title>
    <link rel="icon" href="http://coolspotters.com/files/photos/26546/ruby-on-rails-profile.png">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%= image_tag "human-hydrogen.png", alt: "Humanbook" %>
          </a>
          <div class="navbar-item">
            <div class="field">
              <div class="control has-icons-left">
                <%= form_tag(search_path, id: "search-form") do %>
                  <%= text_field_tag :search, params[:search], class: "input", placeholder: "Search Posts", required: true %>
                  <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                  </span>
                <% end %>
              </div>
            </div>
          </div>

          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <% if current_user %>
              <%= link_to profile_user_path(current_user), class: "navbar-item" do %>
                <%= image_tag current_user.image_url_or_default %>
                &nbsp;<%= current_user.titleize_name %>
              <% end %>

              <div class="navbar-item has-dropdown is-hoverable">
                  <%= link_to "Inbox", inbox_messages_path, class: "navbar-item" %>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a href="/" class="navbar-link">
                  <%= icon("users", "Friends") %>
                </a>

                <div class="navbar-dropdown">
                  <%= link_to "Friends (#{current_user.friends.count})", friends_path, class: "navbar-item" %>
                  <%= link_to "Friend Requests(#{current_user.received_requests.count})", received_requests_path, class: "navbar-item" %>
                  <%= link_to "Sent Requests(#{current_user.sent_requests.count})", sent_requests_path, class: "navbar-item" %>
                  <%= link_to "Users", users_path, class: "navbar-item" %>
                </div>
              </div>

              <%= link_to icon("sign-out", "Log out"), logout_path, class: "navbar-item" %>
            <% else %>
              <%= link_to "Sign Up", new_user_path, class: "navbar-item" %>
              <%= link_to "Log In", login_path, class: "navbar-item" %>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
    <%= flash_messages %>
    <div class="container">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
<div>




</div>
