<%= content_for :content do %>
<div class="columns conversations-main" style="overflow: hidden;">

  <div class="column is-one-quarter conversations-aside">
    <div id="my-conversations">
      <%= render @conversations %>
    </div>

    <div id="infinite-scrolling">
      <%= paginate @conversations %>
    </div>

  </div>
  <div class="column" style="padding-left: 0px; border-left: 1px solid #d3d3d3;">
    <%= yield %>
  </div>
</div>
  <% end %>
<%= render file: "layouts/application" %>
